body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(170deg, #00050b, #4f010e);
  color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

h1 span {
  font-weight: bold;
  color: #23ecb3;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.countdown div {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px 20px;
  border-radius: 10px;
  color: #23ecb3;
  box-shadow: 0 0 20px ;
}

.countdown span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #23ecb3;
  text-shadow: 0 0 15px ;
}

.countdown p {
  font-size: 0.9rem;
  margin: 5px 0 0;
  color: #cccccc;
}

.launch-date {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  .countdown {
    flex-direction: column;
    gap: 15px;
  }

  .countdown span {
    font-size: 1.5rem;
  }
}
